<div class = "about-body">
  <h1>All about UBookIt</h1>

  <p>UBookIt is a partially-automated booking service for musicians. Venue owners and agents may post available slots
  for show along with any rental fees. The musician is expected to pay these fees if they book a show through this service.
  The concept of a "rental" may sound annyoing but it is designed to be cheaper to the venue than paying a booking agent,
  and cheaper to the musician since there is no booking agent! The venue is then freed up to give the musician a larger
  cut of door sales. Furthermore, acts that overperform will increase their rating and be allowed to play new shows
  more frequently. Underperforming or cancelling shows can potentially result in negative feedback from venues. Likewise,
  venues that cancel shows or do not meet expectations may also get a lower rating from musicians, so as clients use
  site, the more reliable they will be. Performer ratings are automatically used to filter out musicians for shows.
  </p>
  <p>
  In the future we will be using other parameters such as genre to filter out artists
  </p>
</div>
