<div class = 'home'>
  <h1>Welcome to UBookIt!</h1>

<br><br>
<p>
  UBookIt is a free service for musicians and music venues to help automate the booking process and locate
  venues that are looking for matching talent.
</p>
</div>
<div class = "img-1">
  <a href= "/signup/musicians" class="btn btn-default">Sign up as a Musician</a>
  <img src="https://static.wixstatic.com/media/5afbe5_1a3b2014d92848bc998bceab73fbf9ad~mv2.jpg/v1/fill/w_630,h_307,al_c,q_80,usm_0.66_1.00_0.01/5afbe5_1a3b2014d92848bc998bceab73fbf9ad~mv2.jpg" alt="">
</div>
<div class = "img-2">
  <a href= "/signup/venues" class="btn btn-default">Sign up as a Venue</a>
  <img src="https://cdn-static.denofgeek.com/sites/denofgeek/files/styles/main_wide/public/2016/10/luke_cage_mahershala_ali.jpg?itok=6Uwzai45" alt="">
</div>
</div>
