<h1>Welcome to UBookIt!</h1>

<a href= "/signup/venues" class="btn btn-default">Sign in as a Venue</a>
<a href= "/signup/musicians" class="btn btn-default">Sign in as a Musician</a>
<br><br>
<p>
UBookIt is a free service for musicians and music venues to help automate the booking process and locate
venues that are looking for matching talent.
</p>
