<div class = "grid-container">
  <% Location.all.each do |location| %>
    <div class = "grid-item"> <img src="<%= location.image_url%>" style="width:100px; height: 100px;"> <label><%= link_to location.city, location%></label></div>  
  <% end %>
</div>

<div id="calendar"></div>