<h1>hello</h1>
<%= @venue.name %>
  <div id = 'bookings'>
    <%= calendar do |date| %>
      <%= date.day %>
      <ul>
        <% if @performances_by_date
      </ul>
    <% end %>
  </div>
<a href= "/performances/new" class="btn btn-default">Book Me!</a>
<a href= "/performances/show" class="btn btn-default">List of Performances</a>
