// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// $red: red;

*{
  margin: 0;
  padding: 0;
 }


.home {
  .home-button{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 40%;
    bottom: 50%;
    right: 40%;
  }
}

body {
  background-color: #3e4e50;
  color: #010400;
}

.about-body {
  text-shadow: 1px .2px #3e4e50;
  padding: 5px;
  background-color: #508991;
  box-sizing: border-box;
  border: solid #3d53d550 5px;
  text-align: center;
  font-family: 'Dosis';
  h1 {
    font-size: 90px;
  }
  p {
    font-size: 20px;
  }
}