@mixin text_field {
  color: #eeeeee;
  text-shadow: 0 1pt 0 #3d52d5;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}
@mixin form {
  // background-color: #508991;
  // color: #3d52d5;
  // text-align: center;
  // margin-left: 30%;
  // margin-right: 30%;
  // border-radius: 30px;
  // padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
}
.venue_form {
  @include form;
  label {
    color: white;
  }
  .submit input{
    @include text_field;
    color: black;
  }
}

input#venue_name {
  @include text_field
}

input#venue_username {
  @include text_field
}

input#venue_email {
  @include text_field
}

input#venue_password {
  @include text_field
}

input#venue_password_confirmation {
  @include text_field
}

textarea#venue_description{
  @include text_field
}

select#venue_location_id {
  @include text_field;
  color: black;
}
p {
  font-size: 20px;
  font-family: 'dosis';
  padding: 2px;
}

///////////////////////////////////////////////////////////Calendar////////////////////////////////////////////////////////////@at-root

  #bookings .calendar {
    border-collapse: collapse;
    width: 100%;
  
    td, th {
      font-family: "Lucida Grande, arial, helvetica, sans-serif";
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
  
    }
  
    th {
      background: #DDD;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
  
    }
  
    td {
      background: #FFF;
      color: #777;
      height: 80px;
      vertical-align: top;
      font-size: 16px;
    }
    .notmonth { color: #CCC; }
    .today { background-color: #D7F2FF;}
  }
  
  #bookings #month {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }
  }
  
  #bookings ul {
    font-size: 11px;
    padding-left: 20px;
  }
