@mixin text_field {
  color: black;
  text-shadow: 0 1pt 0 #3d52d5;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}
@mixin form {
  // background-color: #508991;
  // color: #3d52d5;
  // text-align: center;
  // margin-left: 30%;
  // margin-right: 30%;
  // border-radius: 30px;
  // padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
  margin-top: 20px;
}
.venue_form {
  @include form;
  background-color: #508991;
  label {
    color: #eeeeee;
  }
  .submit input{
    @include text_field;
    color: black;
    text-shadow: 1px .2px #3e4e50;
  }
  select#venue_location_id{
    text-shadow: 1px .2px #3e4e50;
  }
}

input#venue_name {
  @include text_field
}

input#venue_username {
  @include text_field
}

input#venue_email {
  @include text_field;
}

input#venue_password {
  @include text_field;
}

input#venue_password_confirmation {
  @include text_field;
}

textarea#venue_description{
  @include text_field;
}

select#venue_location_id {
  @include text_field;
  color: black;
}



p {
  font-size: 20px;
  font-family: 'dosis';
  padding: 2px;
  color: #eeeeee;
  text-align: center;
}


.show-index {
  li {
    font-size: 30px;
  }
}
