@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'app/static_pages';
@import 'app/sessions';
@import 'app/locations';
@import 'app/home';
@import 'navbar';
@import 'app/venues';
@import 'app/musicians';
@import 'app/calendar';

.banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 200px;
    z-index: -1;

}