// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// $red: red;

*{
  margin: 0;
  padding: 0;
 }


.home {
  .home-button{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 40%;
    bottom: 50%;
    right: 40%;
  }
}